body {
  background-color: #20222e;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.button:hover {
  background-color: #fff;
  color: #20222e;
}

.button.active {
  background-color: #fff;
  color: #20222e;
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}

hr {
  border: none;
  border-top: 2px solid #fff;
  margin: 2rem 0;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}

.user img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}

.user p {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
